absl-py==2.5.0
accelerate==1.12.0
aiohappyeyeballs==2.7.1
aiohttp==3.14.3
aiosignal==1.4.0
aistore==1.26.0
annotated-doc==0.0.5
annotated-types==0.8.0
antlr4-python3-runtime==4.9.3
anyio==4.15.0
attrs==26.1.0
audioread==3.1.0
av==18.1.0
blinker==1.9.0
braceexpand==0.1.7
brotli==1.2.0
certifi==2026.7.22
cffi==2.1.1
charset-normalizer==3.5.1
click==8.5.0
cloudpickle==3.1.2
colorama==0.4.6
cuda-bindings==13.3.1
cuda-pathfinder==1.8.1
Cython==3.3.0
cytoolz==1.1.0
datasets==5.0.1
-e git+https://github.com/ErikEkstedt/datasets_turntaking.git@a677ac28e31dab00b7f51d11001f145c7ac1768c#egg=datasets_turntaking
decorator==5.3.1
dill==0.4.1
dyNET38==2.2
einops==0.8.2
fastapi==0.141.1
filelock==3.32.3
Flask==3.1.3
frozenlist==1.8.0
fsspec==2025.12.0
gradio==6.17.3
gradio_client==2.5.0
groovy==0.1.2
grpcio==1.83.1
h11==0.16.0
hf-gradio==0.4.1
hf-xet==1.6.0
httpcore==1.0.9
httpx==0.28.1
huggingface_hub==0.36.2
humanize==4.16.0
hydra-core==1.3.2
idna==3.19
indic_numtowords==1.1.0
intervaltree==3.2.1
itsdangerous==2.2.0
Jinja2==3.1.6
joblib==1.6.0
kaldialign==0.12.0
lazy-loader==0.5
lhotse==1.33.0
librosa==0.11.0
lightning==2.4.0
lightning-utilities==0.15.3
llvmlite==0.49.0
lxml==6.1.3
Markdown==3.10.3
markdown-it-py==4.2.0
MarkupSafe==3.0.3
mdurl==0.1.2
ml_dtypes==0.6.0
more-itertools==11.1.0
mpmath==1.3.0
msgpack==1.2.2
msgspec==0.21.1
multidict==6.7.1
multiprocess==0.70.19
nagisa==0.2.11
narwhals==2.25.0
nemo-toolkit @ git+https://github.com/NVIDIA/NeMo.git@ea1ebf55b25fceff372f885b4e7b5803f3d33dea
networkx==3.6.1
numba==0.67.0
numpy==2.4.6
nv-one-logger-core==2.3.1
nv-one-logger-pytorch-lightning-integration==2.3.1
nv-one-logger-training-telemetry==2.3.1
nvidia-cublas-cu12==12.4.5.8
nvidia-cuda-cupti-cu12==12.4.127
nvidia-cuda-nvrtc-cu12==12.4.127
nvidia-cuda-runtime-cu12==12.4.127
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.2.1.3
nvidia-curand-cu12==10.3.5.147
nvidia-cusolver-cu12==11.6.1.9
nvidia-cusparse-cu12==12.3.1.170
nvidia-cusparselt-cu12==0.6.2
nvidia-nccl-cu12==2.21.5
nvidia-nvjitlink-cu12==12.4.127
nvidia-nvtx-cu12==12.4.127
omegaconf==2.3.0
onnx==1.22.0
opentelemetry-api==1.44.0
orjson==3.12.0
overrides==7.7.0
packaging==24.2
pandas==3.0.5
pillow==12.3.0
platformdirs==4.11.7
pooch==1.9.0
portalocker==4.3.0
praat-parselmouth==0.4.7
propcache==0.5.2
protobuf==7.36.1
psutil==7.2.2
pyarrow==25.0.1
pycparser==3.0
pydantic==2.13.5
pydantic_core==2.46.5
pydub==0.25.1
Pygments==2.21.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.3
python-multipart==0.0.32
pytorch-lightning==2.6.5
pytz==2026.3.post1
PyYAML==6.0.3
qwen-asr==0.0.6
qwen-omni-utils==0.0.9
regex==2026.9.3
requests==2.34.2
rich==15.0.0
sacrebleu==2.6.0
safehttpx==0.1.7
safetensors==0.8.0
scikit-learn==1.9.0
scipy==1.17.1
semantic-version==2.10.0
sentencepiece==0.2.2
sentry-sdk==2.68.1
shellingham==1.5.4
six==1.17.0
smart_open==8.0.1
sortedcontainers==2.4.0
soundfile==0.14.0
sox==1.5.0
soxr==1.1.0
soynlp==0.0.493
starlette==1.6.0
StrEnum==0.4.15
sympy==1.13.1
tabulate==0.10.0
tenacity==9.1.4
tensorboard==2.21.0
tensorboard-data-server==0.7.2
text-unidecode==1.3
text2num==3.1.0
threadpoolctl==3.6.0
tokenizers==0.22.2
toml==0.10.2
tomlkit==0.14.0
toolz==1.1.0
torch==2.6.0+cu124
torchaudio==2.6.0+cu124
torchmetrics==1.9.0
tqdm==4.70.0
transformers==4.57.6
triton==3.2.0
typer==0.27.2
typing-inspection==0.4.4
typing_extensions==4.16.0
urllib3==2.7.0
uvicorn==0.52.4
-e git+https://github.com/ErikEkstedt/VoiceActivityProjection.git@f39a78b23a6dccdbedd106e00b48c410b8739f5d#egg=vap
-e git+https://github.com/ErikEkstedt/vap_turn_taking.git@75dec275488c1dc866e08905805ea4e61c63e3a2#egg=vap_turn_taking
wandb==0.29.0
webdataset==1.0.2
Werkzeug==3.1.8
whisper_normalizer==0.1.15
wrapt==2.4.0
xxhash==3.5.0
yarl==1.24.5
